.sign-in-page {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1420px;
  margin: auto;
  min-height: 70vh;
}

.sign-in-container {
  min-height: 50vh;
  display: flex;
  max-width: 1420px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.footer-container{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1200px) {
  .sign-in-page {
    flex-direction: row;
    padding-right: 0;
  }

  .sign-in {
    padding: 20px;
  }

  .sign-in-container {
    min-width: 300px;
  }
}
