.landing-page {
  padding: 15px;
  max-width: 1600px;
  margin: auto;
  min-height: 70vh;
}

.App-name {
  font-size: 45px;
}

.landing-info {
  padding: 10px;
  margin-top: 10px;
  box-shadow: none;
  text-align: center;
}

#in-the-loop,
#new-user {
  justify-content: center;
}

.landing-icon {
  width: 200px;
}

.undrawL {
  transform: translateX(-500px);
}

.active {
  display: flex;
  text-align: center;
  transition: 1.25s ease-in-out;
  justify-content: center;
}

.slide-inL {
  transform: translateX(0px);
}

.undrawR {
  transform: translateX(500px);
}

.slide-inR {
  transform: translateX(0px);
}

.undraw-img {
  width: 300px;
  padding: 20px;
}

.content {
  flex-grow: 1;
}

.landing-section {
  display: flex;
  flex-direction: column;
}

.screen-shots {
  width: 50%;
}

.demo-wp-info {
  max-width: 300px;
  align-self: center;
  margin: 0 auto;
}

.feed-icon-landing {
  position: relative;
  top: 5px;
}

.demo-account {
  padding: 10px;
  max-height: 200px;
  margin: 0;
  margin-bottom: 10px;
}

.wp-screenshot {
  max-width: 300px;
  max-height: 471px;
  border-radius: 3px;
}

.demo-screenshot {
  max-width: 600px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 795px) {
  .wp-screenshot {
    max-width: 500px;
    max-height: 471px;
    border-radius: 3px;
  }

  .undrawR {
    transform: translateX(500px);
  }

  .landing-section {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
    height: 500px;
  }

  .landing-info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  #register-section {
    flex-direction: row-reverse;
  }

  .content {
    max-width: 600px;
  }

  .undraw-img {
    width: 500px;
  }
}
