.workplace {
  padding: 15px;
}

.workplace-info {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px;
}

.nickname {
  margin-bottom: 0;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-type,
.user-name {
  font-size: 14px;
  margin: 0;
  font-weight: 500;
  font-style: italic;
}

.workplace-name {
  text-align: right;
}

.tabs {
  display: flex;
}

.tab {
  width: 50%;
  height: 40px;
  display: flex;
  border: 1px solid black;
  border-bottom: none;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.feed {
  border: 1px solid black;
  padding: 10px;
}
