.workplace {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: auto;
  max-width: 1000px;
}

.workplace-info {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px;
}

.nickname {
  margin-bottom: 0;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-type,
.user-name {
  font-size: 14px;
  margin: 0;
  font-weight: 500;
  font-style: italic;
}

.workplace-name {
  text-align: right;
}

.workplace-main {
  max-width: 700px;
}

.tabs {
  display: flex;
}

.tab {
  width: 50%;
  height: 40px;
  display: flex;
  border: 1px solid black;
  border-bottom: none;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.feed {
  border: 1px solid black;
  padding: 10px;
}

@media only screen and (min-width: 700px) {
  .workplace {
    flex-direction: row;
  }

  .workplace-header {
    margin-right: 10px;
    min-width: 250px;
  }

  .workplace-main {
    width: 100%;
  }

  .new-members {
    margin-bottom: 10px;
  }

  .tabs {
    flex-direction: column;
  }

  .tab {
    border: 1px solid black;
    width: auto;
  }
}
