

.post-form,
.idea-form {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.post-form-item,
.idea-item {
  margin-bottom: 10px;
}

.form-button-container {
  display: flex;
  justify-content: space-between;
}

.form-desc {
 margin: 0;
}
