.post-form,
.idea-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  border-radius: 6px;
}

.post-form-container,
.ideas-form-container {
  margin: 10px 5px;
  height: fit-content;
}

.post-form-item,
.idea-item {
  margin-bottom: 10px;
}

.form-button-container {
  display: flex;
  justify-content: space-between;
}

.form-desc {
  margin: 0;
}

@media only screen and (min-width: 700px) {
  .post-form-container,
  .ideas-form-container {
    margin: 20px;
    flex-grow: 2;
  }
}
