.employee-registration-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-grow: 0.3;
  min-width: 300px;
  max-width: 1000px;
  align-items: center;
}

.new-employer,
.new-employee,
.registration-button {
  margin-bottom: 15px;
}

.employee-registration {
  display: flex;
  justify-content: center;
}

.new-employee {
  width: 80%;
}
