.post {
  padding: 10px;
  margin-bottom: 10px;
}

.post-title {
  border-bottom: 1px solid black;
  padding: 10px 0 10px 0;
}

.acknowledge {
  border: none;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fc;
}

.acknowledge::before {
  content: url("https://img.icons8.com/material-sharp/24/000000/checkmark.png");
}

.post-creator {
  display: flex;
}

.post-content {
  word-wrap: break-word;
}

.user-img {
  margin-right: 10px;
  border-radius: 50%;
  width: 50px;
}
