.post {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.post-title {
  border-bottom: 1px solid black;
  padding: 10px 0 10px 0;
}

.acknowledge {
  background-color: white;
  border: 1px solid black;
  width: 100px;
  height: 40px;
}

.post-creator {
  display: flex;
}

.post-content {
  word-wrap: break-word;
}

.user-img {
  margin-right: 10px;
  border-radius: 50%;
}
