.pending-members {
  padding: 10px;
  border: 1px solid black;
  max-height: 65px;
  overflow-y: hidden;
}

.pen-title {
  margin-top: 16px;
  margin-bottom: 28px;
  display: block;
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: 20px;
}

.show-members {
  overflow-y: scroll;
  max-height: 300px;
}

@media only screen and (min-width: 700px) {
  .pen-title {
    margin: 10px auto 20px auto;
  }
}
